<!-- Toàn bộ bài tập, truy cập vào link ctr + click để xem. -->

<!-- - (1) clone giao diện  -->
<!-- - (2) tạo reducer cho danh sách sản phẩm. -->
<!-- (3) tạo store -->
<!-- (4) hiển thị danh sách sản phẩm ra ngoài giao diện -->
<link rel="stylesheet" href="../listProduct/ListProduct.tsx" />
<!-- (5) hiển thị danh sách trong giỏ hàng và kiểm tra , nếu giỏ trống thì thông báo -->
<link rel="stylesheet" href="../yourCart/YourCart.tsx" />
<!-- (6) số lượng sản phẩm trong product list phải lớn hơn hoặc bằng 1 -->
<link rel="stylesheet" href="../listProduct/ListProduct.tsx" />
